<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Добавление галактики</title>
  <style>
    th, td {
      border: solid black;
    }
  </style>
  <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
    <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
      <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
    </a>

    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
      <li><a href="/home/" class="nav-link px-2 link-secondary">Домашняя страница</a></li>
      <li><a href="/star/" class="nav-link px-2 link-dark">Список звезд</a></li>
      <li><a href="/galaxy/" class="nav-link px-2 link-dark">Список галактик</a></li>
      <li><a href="/system/" class="nav-link px-2 link-dark">Список систем</a></li>
      <li><a href="/galaxyshutle/" class="nav-link px-2 link-dark">Список галактических шатлов</a></li>
    </ul>
  </div>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
<h1>Добавить галактику</h1>
<form method="post" th:object="${galaxy}" th:action="${'/galaxy/add'}">
  <label>Наименование галактики</label>
  <input th:field="*{name}" class="form-control" type="text" name="name">
  <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color: red"></div>
  <br>
  <label>Масса галактики</label>
  <input th:field="*{galaxy_mass}" class="form-control" type="number" name="galaxy_mass">
  <div th:if="${#fields.hasErrors('galaxy_mass')}" th:errors="*{galaxy_mass}" style="color: red"></div>
  <br>
  <label>Радиус галактики</label>
  <input th:field="*{galaxy_radius}" class="form-control" type="number" name="galaxy_radius">
  <div th:if="${#fields.hasErrors('galaxy_radius')}" th:errors="*{galaxy_radius}" style="color: red"></div>
  <br>
  <label>Абсолютная звезда</label>
  <input th:field="*{absolute_star}" class="form-control" type="number" name="absolute_star">
  <div th:if="${#fields.hasErrors('absolute_star')}" th:errors="*{absolute_star}" style="color: red"></div>
  <br>
  <label>Количество звезд</label>
  <input th:field="*{total_stars}" class="form-control" type="number" name="total_stars">
  <div th:if="${#fields.hasErrors('total_stars')}" th:errors="*{total_stars}" style="color: red"></div>
  <br>
  <input class="btn btn-success" type="submit" value="Добавить галактику">
  <a class="btn btn-danger" href="/galaxy/">Назад</a>
</form>
</body>
</html>