<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Поставщики</title>
    <style>
        th, td {
            border: solid black;
        }
    </style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
<header th:insert="/fragments/header :: headerMain"></header>
<div class="container">
    <h1 th:text="'Наименование поставщика: ' + ${one_suppliers.suppliersName}"></h1>
    <div class="container">
        <p th:text="'ИНН: ' + ${one_suppliers.getITN()}"></p>
        <p th:text="'Юридический адресс: ' + ${one_suppliers.getLegalAddress()}"></p>
        <p th:text="'ОГРН: ' + ${one_suppliers.getPSRN()}"></p>
        <p th:text="'Телефон: ' + ${one_suppliers.getTelephone()}"></p>
        <p th:text="'Почта: ' + ${one_suppliers.getEmail()}"></p>
    </div>
    <a th:href="'/suppliers/detail/' + ${one_suppliers.UID} + '/upd'" class="btn btn-warning">Редактировать</a>
    <form th:action="'/suppliers/detail/' + ${one_suppliers.UID} + '/del'" method="get">
        <button type="submit" class="btn btn-danger">Удалить</button>
    </form>
    <a href="/suppliers/" class="btn btn-success">Назад</a>
</div>
</body>
</html>