<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
<header th:insert="/fragments/header :: headerMain"></header>
<h1>Редактировать звезду</h1>
<form method="post" th:object="${star}" th:action="'/star/detail/' + *{getUID()} + '/upd'">
  <label>Наименование звезды</label>
  <input th:field="*{name}" class="form-control" type="text" name="name">
  <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color: red"></div>
  <br>
  <label>Класс</label>
  <input th:field="*{class_star}" class="form-control" type="text" name="class">
  <div th:if="${#fields.hasErrors('class_star')}" th:errors="*{class_star}" style="color: red"></div>
  <br>
  <label>Люмен</label>
  <input th:field="*{lumen}" class="form-control" type="number" name="lumen">
  <div th:if="${#fields.hasErrors('lumen')}" th:errors="*{lumen}" style="color: red"></div>
  <br>
  <label>Система</label>
  <select th:field="*{system}">
    <option th:each="element : ${systems}" th:text="${element.name}" th:value="${element.UID}"></option>
  </select>
  <br>
  <input class="btn btn-success" type="submit" value="Редактировать звезду">
  <a class="btn btn-danger" href="/star/">Назад</a>
</form>
</body>
</html>