<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Пользователи</title>
    <style>
        th, td {
            border: solid black;
        }
    </style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
<header th:insert="/fragments/header :: headerMain"></header>
<div class="container">
    <h1 th:text="'Пользователь: ' + ${user_object.username}"></h1>
    <div class="container">
        <p th:text="'Фамилия: ' + ${user_object.surname}"></p>
        <p th:text="'Имя: ' + ${user_object.name}"></p>
        <p th:text="'Отчество: ' + ${user_object.middleName}"></p>
        <p th:text="'Дата рождения: ' + ${user_object.dateOfBirthday}"></p>
        <p th:text="'Телефон: ' + ${user_object.telephone}"></p>
        <p th:text="'Раздел: ' + ${user_object.subdivision}"></p>
        <p th:text="'Роли: ' + ${user_object.roles}"></p>
        <p th:text="${user_object.active} == True ? 'Пользователь: Активный' : 'Пользователь: Неактивный'"></p>
    </div>
    <a th:href="'/admin/' + ${user_object.UID} + '/update'" class="btn btn-warning">Редактировать</a>
    <a href="/admin/" class="btn btn-success">Назад</a>
</div>
</body>
</html>