<div th:fragment="headerMain">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
            <svg class="bi me-2" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li><a href="/home/" class="nav-link px-2 link-secondary">Домашняя страница</a></li>
            <li><a href="/check/" class="nav-link px-2 link-dark">Чек</a></li>
            <li><a href="/colorproduct/" class="nav-link px-2 link-dark">Цвет продукта</a></li>
            <li><a href="/delivery/" class="nav-link px-2 link-dark">Поставка</a></li>
            <li><a href="/inventorycontrol/" class="nav-link px-2 link-dark">Контроль поставок</a></li>
            <li><a href="/order/" class="nav-link px-2 link-dark">Заказ</a></li>
            <li><a href="/product/" class="nav-link px-2 link-dark">Продукт</a></li>
            <li><a href="/sizeproduct/" class="nav-link px-2 link-dark">Размер продукта</a></li>
            <li><a href="/subdivision/" class="nav-link px-2 link-dark">Раздел</a></li>
            <li><a href="/subdivisionreporting/" class="nav-link px-2 link-dark">Отчет раздела</a></li>
            <li><a href="/suppliers/" class="nav-link px-2 link-dark">Поставщики</a></li>
            <li><a href="/typeproduct/" class="nav-link px-2 link-dark">Тип продукта</a></li>
            <li>
                <form th:action="@{/logout}" method="post">
                    <input type="submit" class="btn btn-danger" value="Выход"/>
                </form>
            </li>
        </ul>
    </div>
</div>