<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head >
  <meta charset="UTF-8">
  <title>Добавление системы</title>
  <style>
    th, td {
      border: solid black;
    }
  </style>
  <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
    <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
      <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
    </a>

    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
      <li><a href="/home/" class="nav-link px-2 link-secondary">Домашняя страница</a></li>
      <li><a href="/star/" class="nav-link px-2 link-dark">Список звезд</a></li>
      <li><a href="/galaxy/" class="nav-link px-2 link-dark">Список галактик</a></li>
      <li><a href="/system/" class="nav-link px-2 link-dark">Список систем</a></li>
      <li><a href="/galaxyshutle/" class="nav-link px-2 link-dark">Список галактических шатлов</a></li>
      <li>
        <form th:action="@{/logout}" method="post">
          <input type="submit" class="btn btn-danger" value="Выход"/>
        </form>
      </li>
    </ul>
  </div>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
<h1>Добавить систему</h1>
<form method="post" th:object="${system}" th:action="${'/system/add'}">
  <label>Наименование системы</label>
  <input th:field="*{name}" class="form-control" type="text" name="name">
  <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color: red"></div>
  <br>
  <label>Масса системы</label>
  <input th:field="*{system_mass}" class="form-control" type="number" name="system_mass">
  <div th:if="${#fields.hasErrors('system_mass')}" th:errors="*{system_mass}" style="color: red"></div>
  <br>
  <label>Количество звезд</label>
  <input th:field="*{total_stars}" class="form-control" type="number" name="total_stars">
  <div th:if="${#fields.hasErrors('total_stars')}" th:errors="*{total_stars}" style="color: red"></div>
  <br>
  <label>Количество известных планет</label>
  <input th:field="*{total_known_planets}" class="form-control" type="number" name="total_known_planets">
  <div th:if="${#fields.hasErrors('total_known_planets')}" th:errors="*{total_known_planets}" style="color: red"></div>
  <br>
  <label>Количество спутников</label>
  <input th:field="*{total_moons}" class="form-control" type="number" name="total_moons">
  <div th:if="${#fields.hasErrors('total_moons')}" th:errors="*{total_moons}" style="color: red"></div>
  <br>
  <label>Галактика</label>
  <select th:field="*{galaxy}">
    <option th:each="element : ${galaxies}" th:text="${element.name}" th:value="${element.UID}"></option>
  </select>
  <br>
  <input class="btn btn-success" type="submit" value="Добавить систему">
  <a class="btn btn-danger" href="/system/">Назад</a>
</form>
</body>
</html>