<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Калькулятор</title>
</head>
<body>
<h1>Практическая работа 1. Калькулятор</h1>
<form action="/calculator">
    <label>Первое значение:</label>
    <input type="number" name="firstnumber">
    <br>
    <label>Переменная:</label>
    <select name="operation">
        <option value="+" name="operator">+</option>
        <option value="-" name="operator">-</option>
        <option value="*" name="operator">*</option>
        <option value="/" name="operator">/</option>
    </select>
    <br>
    <label>Второе значение:</label>
    <input type="number" name="secondnumber">
    <br>
    <input type="submit" value="Отправить GET" formaction="/calculator" formmethod="get">
    <input type="submit" value="Отправить POST" formaction="/calculator" formmethod="post">
    <br>
    <label>Результат:</label>
    <p th:text="${temp}"></p>
</form>
</body>
</html>